{% extends "base.html" %}
{% block content %}
    <a href="/credentials-detail/" type="button" class="btn btn-success">Create secret</a>

    <div class="row mv-2 g-2">
        <div class="col-md-5">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
                <label for="floatingInputGrid">Email address</label>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
                <label for="floatingInputGrid">Email address</label>
            </div>
        </div>
        <div class="col-md-1 mr-a">
            <div class="form-floating">
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>

    {% for secret in secrets %}

    <div class="card mb-3 border-light">
        <div class="card-body">

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary"> {{ secret.name }} </span>
                <span>
                    <a href="/credentials-detail/{{ secret.name }}" type="button" class="btn btn-primary">Edit</a>
                    <!-- TODO -->
                    <button type="button" class="btn btn-danger">Delete</button>
                </span>
            </h4>
            <ul class="list-group mb-3">
                {% for secret_key, secret_value in secret.data.items() %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <span class="y-0 font-monospace"> {{ secret_key }} </h6>
                    </div>
                    <span class="text-muted font-monospace"> {{ secret_value }} </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% else %}

    <div class="alert alert-primary" role="alert">
        Currently no credentials available.
    </div>

    {% endfor %}

{% endblock %}
