{% extends "base.html" %}
{% block content %}
<div class="card mb-3 border-light">
    <div class="card-body">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">
                Credential: {{ secret.name }}
            </span>
        </h4>
        {% if (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <small class="text-secondary">
                &#128273; confidential
            </small>
        </div>
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            <input type="hidden" name="credentials_name" value="{{ secret.name }}">
            <input type="hidden" name="type" value="kubernetes.io/ssh-auth">
            <input type="hidden" name="create" value="yes">
            {% if is_new_credential %} <h6>Type: ssh-auth</h6> {% endif %}
            <div class="clearfix"></div>
            <div class="mb-3">
                {% if not secret.data.get('ssh-privatekey') %}
                <label for="ssh_file" class="form-label">
                    <b>Upload</b> private key file:
                </label>
                <input class="form-control" type="file" id="ssh_file" name="ssh_file" accept="text/plain" />
                <br>
                <label for="privatekey" class="form-label">
                    <u><b>or</u> paste</b> your private key here:
                </label>
                <textarea class="form-control" id="privatekey" name="privatekey" style="min-height: 200px;"></textarea>
                <br>
                <p class="alert-warning rounded p-2 mt-2">
                    <b>Caution:</b> After the creation, only a <b>masked view</b> of the private key will be visible!
                </p>
                {% else %}
                <textarea class="form-control" id="privatekey" name="privatekey" style="min-height: 200px;" disabled>{{ secret.data.get("ssh-privatekey", "") }}</textarea>
                <p class="alert-warning rounded p-2 mt-2">
                    For security, private keys are <b>masked and immutable</b> once stored in the Credentials Manager. <br>If you need to change the key, you need to delete the secret first and then recreate it.
                </p>
                {% endif %}
            </div>
            <div id="form-buttons">
                {% if is_new_credential %}
                <button type="submit" class="btn btn-success my-2">
                    Create Credential
                </button>
                {% endif %}
                <a href="../" type="button" class="btn btn-secondary">Return</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
