{% extends "base.html" %}
{% block content %}
<!-- NOTE: keep in sync with block below :-( -->
<div class="row my-2 g-2 d-none" id="form-row-template">
    <div class="col-md-5">
        <div class="form-floating">
            <input type="text" class="form-control" id="key" name="secret_key" placeholder=""
                pattern=" *[a-zA-Z][_a-zA-Z0-9]* *" title="Alphanumeric starting with letter" required>
            <label for="key">Key</label>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-floating">
            <input type="text" class="form-control" id="value" name="secret_value" placeholder="" value="">
            <label for="value">Value</label>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-floating">
            <button type="button" class="btn btn-sm btn-danger"
                onclick="this.parentElement.parentElement.parentElement.remove()">
                Delete</button>
        </div>
    </div>
</div>

<div class="card mb-3 border-light">
    <div class="card-body">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">
                Credential: {{ secret.name }}
            </span>
        </h4>
        {% if (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <small class="text-secondary">
                {% if secret.get('annotations', {}).get('cm_keyonly') %}
                &#128273; confidential
                {% else %}
                &#128274; readonly
                {% endif %}
            </small>
        </div>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="credentials_name" value="{{ secret.name }}">
            <input type="hidden" name="type" value="Opaque">
            <input type="hidden" name="create" value="yes">
            <h5>Type: key-value (Opaque)</h5>
            {% if not (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
            <button type="button" class="btn btn-primary" onclick="
                    element = document.getElementById('form-row-template').cloneNode(true);
                    element.classList.remove('d-none');
                    this.parentElement.insertBefore(element, document.getElementById('form-buttons'));
            ">
                Add Key/Value Pair
            </button>
            {% endif %}
            <div class="clearfix"></div>

            <!-- NOTE: keep in sync with template above :-( -->
            {% for secret_key, secret_value in secret.data.items() %}
            <div class="row my-2 g-2">
                <div class="col-md-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="{{ secret_key }}" name="secret_key" placeholder=""
                            pattern="[a-zA-Z][_a-zA-Z0-9]*" title="Alphanumeric starting with letter"
                            value="{{ secret_key }}" required
                            {% if secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly') %} readonly {% endif %}>
                        <label for="key">Key</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-floating">
                        <input type= {% if secret.annotations.get('cm_keyonly') %} "password" {% else %} "text" {% endif %} class="form-control"
                            id="{{ secret_key }}_value" name="secret_value" placeholder=""
                            value={% if secret.annotations.get('cm_keyonly') %} *** {% else %} "{{ secret_value }}" {% endif %} required
                            {% if secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')  %} readonly {% endif %}>
                        <label for="value">Value</label>
                    </div>
                </div>
                {% if not (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
                <div class="col-md-2">
                    <div class="form-floating">
                        <button type="button" class="btn btn-sm btn-danger"
                            onclick="this.parentElement.parentElement.parentElement.remove()">
                            Delete
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div id="form-buttons">
                {% if not (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
                <button type="submit" class="btn btn-success my-2">
                    {% if is_new_credential %} Create {% else %} Update {% endif %} Credential
                </button>
                {% endif %}
                <a href="../" type="button" class="btn btn-secondary">
                    {% if (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
                        Return
                    {% else %}
                        Cancel
                    {% endif %}</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
