{% extends "base.html" %}
{% block content %}
<!-- NOTE: keep in sync with block below :-( -->
<div class="row my-2 g-2 d-none" id="form-row-template">
    <div class="col-md-5">
        <div class="form-floating">
            <input type="text" class="form-control" id="key" name="secret_key" placeholder="" value="">
            <label for="key">Key</label>
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-floating">
            <input type="text" class="form-control" id="value" name="secret_value" placeholder="" value="">
            <label for="value">Value</label>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-floating">
            <button type="button" class="btn btn-sm btn-danger"
                onclick="this.parentElement.parentElement.parentElement.remove()">
                Delete</button>
        </div>
    </div>
</div>

<div class="card mb-3 border-light">
    <div class="card-body">

        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">
                {% if is_new_credential %}
                Create Credentials
                {% else %}
                Credentials {{ secret.name }}
                {% endif %}
            </span>
        </h4>

        <form method="POST">

            {% if is_new_credential %}
            <div class="mb-3 row">
                <label for="input-credentials_name" class="col-md-3 col-form-label">Credentials name</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="input-credentials_name" name="credentials_name"
                        pattern="[-._a-z0-9]+" title="Lower case alphanumeric characters and '-', '.', '_'" required>
                </div>
            </div>
            {% endif %}

            <button type="button" class="btn btn-primary" onclick="
                    element = document.getElementById('form-row-template').cloneNode(true);
                    element.classList.remove('d-none');
                    this.parentElement.insertBefore(element, document.getElementById('form-buttons'));
            ">
                Add Key/Value Pair
            </button>
            <div class="clearfix"></div>

            <!-- NOTE: keep in sync with template above :-( -->
            {% for secret_key, secret_value in secret.data.items() %}
            <div class="row my-2 g-2">
                <div class="col-md-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="key" name="secret_key" placeholder=""
                            value="{{ secret_key }}" required>
                        <label for="key">Key</label>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="value" name="secret_value" placeholder=""
                            value="{{ secret_value }}" required>
                        <label for="value">Value</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <button type="button" class="btn btn-sm btn-danger"
                            onclick="this.parentElement.parentElement.parentElement.remove()">
                            Delete</button>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div id="form-buttons">
                <button type="submit" class="btn btn-success my-2">
                    {% if is_new_credential %} Create {% else %} Update {% endif %} Credentials
                </button>
                <a href="/" type="button" class="btn btn-secondary">Cancel</a>
            </div>
        </form>

    </div>
</div>

{% endblock %}
