{% extends "base.html" %}
{% block content %}
<div class="card mb-3 border-light">
    <div class="card-body">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">
                Credential: {{ secret.name }}
            </span>
        </h4>
        {% if (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <small class="text-secondary">
                {% if secret.get('annotations', {}).get('cm_keyonly') %}
                &#128273; confidential
                {% else %}
                &#128274; readonly
                {% endif %}
            </small>
        </div>
        {% endif %}

        <form method="POST">
            <input type="hidden" name="credentials_name" value="{{ secret.name }}">
            <input type="hidden" name="type" value="kubernetes.io/dockerconfigjson">
            <input type="hidden" name="create" value="yes">
            {% if is_new_credential %} <h6>Type: dockerconfigjson</h6> {% endif %}
            <div class="clearfix"></div>
            <div class="mb-3">
                <label for="dockercfg" class="form-label">
                    Paste your dockerconfigjson file here:
                </label>
                <textarea class="form-control" id="dockercfg" name="dockercfg" style="min-height: 200px;" required > {{ secret.data.get('.dockerconfigjson') }}</textarea>
            </div>
            <br>
            <div id="form-buttons">
                {% if not (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
                <button type="submit" class="btn btn-success my-2">
                    {% if is_new_credential %} Create {% else %} Update {% endif %} Credential
                </button>
                {% endif %}
                <a href="../" type="button" class="btn btn-secondary">
                    {% if (secret.get('annotations', {}).get('cm_readonly') or secret.get('annotations', {}).get('cm_keyonly')) %}
                        Return
                    {% else %}
                        Cancel
                    {% endif %}</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}
